* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile h1 {
    font-size: 2em;
    color: #444;
}

.profile p {
    color: #777;
    font-size: 1em;
}

.projects {
    margin-top: 40px;
}

.projects h2 {
    font-size: 1.8em;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.project-img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.project h3 {
    font-size: 1.4em;
    color: #444;
}

.project p {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.view-code {
    color: #007BFF;
    text-decoration: none;
    font-size: 1em;
}

.view-code:hover {
    text-decoration: underline;
}

